* {
    margin: 0 rem;
    padding: 0rem;
    border-radius: 2rem;
}
body {
    background-color: white;
    color: white;
}
#contenedor {
    width: 50rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
. header {
    height: 10rem;
    width: 10rem;
    background: #CBCBCB;
}
header h1 {
    font-size: 4rem;
    height: 20rem;
    text-align: center;
    line-height: 20rem;
    background: #CBCBCB;
}

#lupa {
    font-size: rem;
    width: 90rem;
    height: 900rem;
}
.lupa {
    height: 1rem;
    margin-bottom: 20rem;
    background: #212121;
    text-align: right
}

.lupa {
    height: 10rem;
    margin-bottom: 10rem;
    background: #464E5D;
    text-align: right
}
.lupa-1 {
    height: 2rem;
    width: 90rem;
    margin-bottom: 10rem;
    text-align: center
}
nav {
    background: ;
    height: 14rem;
    text-align: center;
    width: 193rem;
}
nav h2 {
    font-size: 2rem;
    text-align: right;
    line-height: 15rem;
}
#contenido {
    width: 130rem;
    height: 92rem;
    background: #969696;
    margin-top: 8rem;
    margin-right: 5rem;
    float: right;
}
#contenido h2 {
    font-size: 20rem;
    text-align: center;
    line-height: 10rem;
}
aside {
    width: 100rem;
    height: 223rem;
    background: #E5E5E5;
    font-display: 150rem; left: 150rem;
    float: right;
    border-radius: 4rem;
}
aside h2 {
    font-size: 10rem;
    text-align: right;
    line-height: 10rem;
    float: left
    border-radius: 4rem;
}
footer {
    background: #000;
    clear: both;
    width: 193rem;
    height: 15rem;
}
footer h2 {
    font-size: 5rem;
    text-align: center;
    padding: 1rem
    font-style: italic;
}
.azul {
    width: 100%;
    height: 8rem;
    background-color: white;
    display: flex;
}

.caja-padre {
    width: 100%;
    height: auto;

    /*alineacion de items*/
    display: flex;
    flex-direction: row;
}

.verde {
    width: 234rem;
    height: 83rem;
    background-color: #aaaaaa;
    margin-top: 0rem;
    border-radius: 4rem;
    
    /*Alineacion de items*/
    display: flex;
    flex-direction: row;
}
.naraja-1, .naraja-2, .naraja-3, .naraja-4 {
    width: 30rem;
    height: 25rem;
    background-color: #aaaaaa;
    border-radius: 10%;
    border-width:4px;
    border-style:dotted;
    width:50%;

    margin: 4rem;
    margin-left: 42rem;
    margin-bottom: 3rem;
}
.naraja-2 {
    width: 90rem;
    height: 60rem;
    margin-left: 4rem;
}
#section{
    height: 200rem;
    width: 9000rem;
    background: #464E5D 53%;
    border-radius: rem;
    margin: 10rem;
    margin-bottom: 90rem;
    margin-top: rem;
    height: 10rem;
    width: 120rem;
    background: #646464;
    border-radius: 1rem;
    margin: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;

font-style: center;
font-weight: 90rem;
font-size: 5rem;
line-height: 6rem;
display: flex;

top: 30rem;
}

#article {
    width: 25rem;
    height: 25rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
}
.caja-1 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: center;
    margin-right: 20rem;
}


.caja-2 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: center;
    margin-right: 20rem;
}


.caja-3 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: center;
    margin-right: 20rem;
}

#article {
    width: 90rem;
    height: 35rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 20rem;
}
.caja-1 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: left;
    margin-right: 20rem;
    text-align: center;
}


.caja-2 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: left;
    margin-right: 20rem;
}


.caja-3 { 
    width: 40rem;
    height: 40rem;
    background-color: #aaaaaa;
    border-radius: 2rem;
    margin-top: 2rem;
    float: left;
    margin-right: 20rem;
}

#section-1 {
    height: 5rem;
    width: 186rem;
    background: #646464;
    border-radius: 1rem;
    margin: 10rem;
    margin-bottom: 4rem;
    margin-top: 88rem;
    margin-left: 45rem;
}

#section-2 {
    height: 5rem;
    width: 186rem;
    background: #aaaaaa;
    border-radius: 1rem;
    margin-left: 45rem;
    
}

.texto3 {
    position: absolute;
left: 0.2%;
right: 5%;
top: 156%;
bottom: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 4rem;
line-height: 1rem;
display: flex;
align-items: center;

color: #353535;
}
{
}
